<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256756838363-oik3v2mcvbvi8fo9dehgdcvqdrr033d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256756838363-oik3v2mcvbvi8fo9dehgdcvqdrr033d2</string>
	<key>API_KEY</key>
	<string>AIzaSyBZCuRxjJTTGAN6kmFbGNWTBeRxTqPGBmY</string>
	<key>GCM_SENDER_ID</key>
	<string>256756838363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastianherman.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-38e80</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-38e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256756838363:ios:189e636d0b6fa6991d01fe</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-13-38e80.firebaseio.com</string>
</dict>
</plist>